/DanielMusic-war/nbproject/private/
/DanielMusic-ejb/nbproject/private/
/nbproject/private/
/DanielMusic-ejb/dist/
/DanielMusic-ejb/build/
/build/
/DanielMusic-war/build/
/DanielMusic-war/dist/
/dist/
/DanielMusic-ejb/src/java/cred/
/DanielMusic-war/web/demo2/
/DanielMusic-war/web/demo/